/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

.Navbar {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  /* margin-top: 50px; */
  outline: red solid 1px;
  height: 100px;
}

.login1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  outline: red solid 1px;
  height: 800px;
  width: 100vw;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  outline: red solid 1px;
}

.signup1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  outline: red solid 1px;
  height: 800px;
  width: 100vw;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* button {
  width: 100px;
  height: 30px;
  margin-top: 20px;
  font-size: 15px;
} */