/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

.Navbar {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  outline: red solid 1px;
  height: 100px;
}

.login1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  outline: red solid 1px;
  height: 800px;
  width: 100vw;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  outline: red solid 1px;
}

.signup1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  outline: red solid 1px;
  height: 800px;
  width: 100vw;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  border: black solid 1px;
  border-radius: 5px;
  margin: 5px;
  padding-left: 15px;
  flex-basis: calc(25% - 10px); /* Adjust the percentage as needed */
}

#heart {
  border: none !important;
  background-color: transparent;
}

.notFavorite {
  color: red; /* Outline color */
  fill: white; /* Fill color */
  stroke-width: 30px; 
  font-size: 30px;
  margin-top: 15px;
}

.notFavorite:hover {
  fill: red;
  transition: all 0.3s ease-in-out;
}

.favorite {
  fill: red;
  font-size: 30px;
}

.card img {
  height: 200px;
  width: 300px;
}
